@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1577358943216'); /* IE9 */
  src: url('iconfont.eot?t=1577358943216#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABoAAAAKOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBDIEQATYCJAMICwYABCAFhG0HLhu0BcgucJwnVUhUpDI2DNo+W/4feug4i4f/9vvfPjPz7N4vnkQEomgWjzSTEPkNscgiUwnZo1dW9xLe/J/rF23DpOGoRTbxKEsb5d0RVmqB5PM7sMPxP38/LWJ8k9MFku2QFKoC3fuf7+f+tUndjJpHdJNuRq6dAAlvJQKHn0/cO/6j8y6Q+c67HNeatDYGGAdSoHtgm6xIIm8Yu8AlnCdQmaSBJ/ZOzgMJhTUtELcMbRxI5EKKwrJtoVmztogXIKqdHqLPeB5+P/7bjQRJI7NKTl/ZnQU2frEn4PtUvbwHruZzgG0iYx1QiPO1qZPCgrGwKhUxC+yrMPiVoNS3iL0aBfvrrPweMA5F9yR2JbcqmEBhMMuAnVFPIw+TYq3K14/44PnmwtZpEKcf35ogFfWlUJVfLVXmfi7HT6+u4trP6/PpsWjx47PDvVQsL3evVXo5cO+/xwfZRyg9sM7bs5TeZM6N9TtgQwDd3xJ5DwQRfCrxOcwfGLEF/Cx/OZT08wS09+0O/lFTQfe/BJda5lRUFcRMlqXnVla6Vzdg+Yb8xupGbygX2kZvy9MykSJrmycKYx0Ntf1oajuMyhp3c21YISxKB6sGgDBgh6TPW2QDHkRhfNEw5o+mgQijcjGG96wthpE6zjgWnMFkCcaUXOVYJRUVnqI2t8eclYbsS2TfiEKr3ixm99FFnmOBv9DaIgoUkwN74DK0bQKPycSp1HURr9NoqLo31afkBFKOY2hMoBngWQKpKeJSfm+RKn3+FNLM2ca4paMmfAkxnzE8sBmsHsS+yu3VcS/XlBY0bRWhgAgjDuCAUchmIyCrH2VCU6IuGZHwdJh2t6ivqr6+xvm6fVCx9CnsyqxcIwcDAQAA') format('woff2'),
  url('iconfont.woff?t=1577358943216') format('woff'),
  url('iconfont.ttf?t=1577358943216') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1577358943216#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e608";
}

